<h2 class="screen-align">Screen337583</h2>
<div method="get" id="template-iitb" class="form ">
    <div id="template-i9y8" class="form-group ">
        <label id="template-itzk" class="label ">
            <div id="template-iu87" class="">Name</div>
        </label>
        <input placeholder="Type here your name" id="template-ig74" class="input "
        />
    </div>
    <div id="template-igsr" class="form-group ">
        <label id="template-i8os" class="label ">
            <div id="template-ik61" class="">Email</div>
        </label>
        <input type="email" placeholder="Type here your email" id="template-isrf"
        class="input " />
    </div>
    <div id="template-ihjo8" class="form-group ">
        <label id="template-ia4l8" class="label ">
            <div id="template-idbwo" class="">Gender</div>
        </label>
        <input type="checkbox" value="M" id="template-ilv27" class="checkbox "
        />
        <label id="template-isohf" class="checkbox-label ">
            <div id="template-ibywa" class="">M</div>
        </label>
        <input type="checkbox" value="F" id="template-is3ah" class="checkbox "
        />
        <label id="template-i44n9" class="checkbox-label ">
            <div id="template-iobzf" class="">F</div>
        </label>
    </div>
    <div id="template-ixgti" class="form-group ">
        <label id="template-isdt4" class="label ">
            <div id="template-isfjl" class="">Message</div>
        </label>
        <textarea id="template-ipbxi" class="textarea form-control "></textarea>
    </div>
    <div id="template-ipogn" class="form-group ">
        <button type="submit" id="template-iexq1" class="button btn btn-primary ">
            <div id="template-ieig8" class="">Send</div>
        </button>
    </div>
</div>